<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="clientApp" ng-controller="ApplicationCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Resume Builder</title>

    <meta name="viewport" content="width = device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link href="style.css" rel="stylesheet" type="text/css"></link>
    <link href="favicon.ico" rel="shortcut icon"></link>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css"></link>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript"></script>
    <script src="scripts.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json5/0.3.0/json5.min.js"></script>
   <![endif]-->
  </head>
  <body>
    <div ng-cloak class="flash" ng-if="flash">{{ flash }}</div>

    <div ng-cloak ng-if="loading" class="loading-wrapper">
      <svg class="logo" style="enable-background:new 0 0 512 512;" viewBox="0 0 512 512" x="0px" y="0px">
        <path d="M458.903 114.538c-11.106-15.146-26.587-32.85-43.589-49.852s-34.706-32.482-49.852-43.589c-25.787-18.91-38.296-21.097-45.462-21.097h-248c-22.056 0-40 17.944-40 40v432c0 22.056 17.944 40 40 40h368c22.056 0 40-17.944 40-40v-312c0-7.166-2.186-19.675-21.097-45.462zM392.687 87.313c15.35 15.35 27.4 29.199 36.29 40.687h-76.977v-76.973c11.492 8.89 25.339 20.939 40.687 36.286zM448 472c0 4.336-3.664 8-8 8h-368c-4.336 0-8-3.664-8-8v-432c0-4.336 3.664-8 8-8 0 0 247.978-0.001 248 0v112c0 8.836 7.163 16 16 16h112v312z"></path>
        <path d="M368 416h-224c-8.836 0-16-7.163-16-16s7.164-16 16-16h224c8.837 0 16 7.163 16 16s-7.163 16-16 16z"></path>
        <path d="M368 352h-224c-8.836 0-16-7.163-16-16s7.164-16 16-16h224c8.837 0 16 7.163 16 16s-7.163 16-16 16z"></path>
        <path d="M368 288h-224c-8.836 0-16-7.163-16-16s7.164-16 16-16h224c8.837 0 16 7.163 16 16s-7.163 16-16 16z"></path>
      </svg>

      <label>Loading</label>
    </div>

    <div ui-view="content" autoscroll="false"></div>
  </body>
</html>
