
html {
  font-size: 100%;
  font-family: sans-serif;
  text-align: left;
}

h1, h2 {
  position: relative;
  padding-bottom: .5em;
  margin-top: 0;
  margin-bottom: 1.25em;
}

h1:before, h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid;
  width: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin-bottom: 2em;
}

h2.title {
  font-weight: lighter;
  font-size: 1.25em;
  margin: -1.25em 0 .75em;
}

h2.title:before {
  display: none !important;
}

h3.contact {
  font-size: 1.25em;
}

img.profile-img {
  border-radius: 50%;
  width: 10em;
  margin: 0 0 2em;
}

img.profile-img.hidden {
  display: none;
}

h4 > em {
  display: inline-block;
  margin-left: 1em;
  font-size: 70%;
  font-weight: normal;
  font-style: normal;
  color: #666;
  white-space: nowrap;
}

h4 + h5 {
  font-size: 100%;
  font-weight: normal;
  margin: 0 0 .5em;
}

h4 + p > em {
  display: block;
  margin-bottom: 0.75em;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  font-size: 90%;
}

p {
  font-size: 90%;
  margin: .25em 0;
  line-height: 1.4em;
}

ol li {
  margin: 2em 0;
  page-break-inside: avoid;
}

body .page {
  padding: 4em;
  page-break-after: always;
}

.page:last-child, .page:last-of-type {
  page-break-after: avoid;
}

body .page.contact-details {
  padding-top: 4em !important;
}

section {
  page-break-inside: avoid;
  margin-bottom: 4em;
}

section:last-of-type {
  margin-bottom: 0;
  page-break-inside: auto;
}

.contact-details h1:before {
  border-bottom-width: 5px;
}

.contact-details h3 {
  margin: 0 0 .25em;
  font-weight: 300;
}

table.contact-links {
  margin: 2em 0;
  border-spacing: 0;
}

table.contact-links th,
table.contact-links td {
  padding: 0;
  line-height: 1.5em;
}

table.contact-links td {
  padding-left: 2em;
}

table.contact-links td a {
  border-bottom: thin solid;
}

figure.skills {
  margin: 0;
  padding: 0;
  display: block;
}

figure.skills label {
  display: inline-block;
  font-size: 80%;
  white-space: nowrap;
  margin: 0 1.25em 1em 0;
  border-radius: 3px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

@media print {
  .hidden, .editable-empty, [ng-click], button {
    display: none !important;
  }

  body .page {
    padding-top: 0;

  }

  body .page h2:first-of-type { margin-top: -.5em; }
}

@page {
  size: auto;
  margin: 20mm 0 20mm 0;
}

.render button {
  display: none !important;
}

.render .page {
  padding: 0;
}

.render .page h2:first-of-type {
  margin-top: -2em;
}
