
@media screen {

  .page {
    button, .button {
      background: white;
      color: #666;
      border: thin dotted;
      font-family: 'Source Sans Pro', sans-serif;
      opacity: .75;

      &[type='submit'] {
        background-color: $blue;
        border-color: transparent;
        color: white;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  section.hidden {
    height: 3em;
    overflow: hidden;
    margin: 0 0 1em;
  }

  section.hidden > * {
    opacity: .25;
  }

  section.hidden .toggle-section:hover {
    opacity: .75;
  }

  figure.skills label .remove-button {
    margin: 0;
    vertical-align: top;
    border: 0;
  }

  .preview {
    padding-left: 15rem;

    .wrapper {
      background: #eee;
      box-shadow: 0 0 0 99999px #eee;
      padding: .5em 1.5em;
      min-height: 100vh;
      transform-origin: top left !important;
    }

    .form {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 15rem;
      font-size: 90%;
      padding: 2em;
      z-index: 100;
      box-sizing: border-box;
    }

    .form-field small {
      font-size: 65%;
      display: block;
      margin: -.25em 0 .5em;
      font-style: italic;
    }

    .page {
      position: relative;
      background: white;
      margin: 1em auto;
      padding: 4em;
      min-height: 279.4mm;
      width: 215.9mm;
      box-shadow: 0 1px 5px #ccc;
      box-sizing: border-box;
    }
  }
}

@media print {
  .form, .optional {
    display: none;
  }
}

@media screen and (min-width: 1150px) {
  .preview .wrapper {
    transform: none !important;
  }
}

@media print {
  .preview .wrapper {
    transform: none !important;
  }
}

@media screen and (min-width: 700px) {
  .form .button.back-button {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    width: auto;
    right: auto;
    background-color: transparent;
    color: #777;
    text-align: left;
    border: thin solid;
  }

  .preview .wrapper {
    padding-left: 0;
  }
}

.toggle-form {
  display: none;
  position: fixed;
  top: 100vh;
  left: 0;
  z-index: 10;
  margin: 1.5em;
  margin-top: -3.5em;
  transition: top .25s ease;
}


@media screen and (max-width: 700px) {

  .toggle-form {
    display: block;
  }

  .container {
    padding: 0em 1.5em 1em;
  }

  .back-button {
    display: none !important;
  }

  .logo {
    width: 5em;

    + h1 {
      font-size: 1.5em;
    }
  }

  .fields {
    margin: 0 -.25em;
  }

  .form-field {
    float: left;
    width: 50%;
    padding: 0 .25em;
    box-sizing: border-box;
  }

  .preview {
    .form {
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      width: auto;
      background-color: rgba(black, 0.75);
      color: white;
      transform: translateY(100%);
      transition: transform .25s ease;

      &.visible {
        transform: translateY(0);

        + .toggle-form {
          top: 5em;
          z-index: 100;
          background: #aaa;

          &:before {
            content: '\00D7';
            margin-right: .25em;
          }
        }

        button[type='submit'] {
          position: static;
          margin: 0 .25em 0 0;
          font-size: inherit;
          opacity: 1;
        }
      }
    }
    padding: 0;
  }

  button[type='submit']:hover {
    opacity: 1;
  }
}
