body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: auto;
  padding: 2em;
  max-width: 30em;
  text-align: center;
}

.container h1:before,
.container h2:before {
  left: 50%;
  margin-left: -.5em;
  border-color: hsl(200, 100%, 50%);
}

.container button {
  display: block;
  margin: 1em auto;
  width: 6em;
}

.logo {
  display: block;
  margin: 2em auto;
  max-width: 100%;
  width: 10em;
}

.logo path {
  fill: hsl(200, 100%, 50%);
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
}

h1, h2 {
  position: relative;
  padding-bottom: .5em;
}

h1:before, h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid;
  width: 1em;
}

h2 {
  margin-bottom: 2em;
}

fieldset {
  padding: 0;
  margin: 0 0 .75em;
  border: 0;
  border-bottom: thin dotted dimgray;
}

fieldset:last-of-type {
  border: 0;
  margin-bottom: 0.25em;
}

legend {
  font-weight: bold;
  display: block;
  padding: 0;
  margin-bottom: .5em;
}

input, button, textarea, select, table {
  font-size: 100%;
  font-family: inherit;
}

input, button, textarea, select, .button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: .25em;
  box-sizing: border-box;
  margin: 0 0 .75em;
  line-height: 1.5em;
  padding: .25em .5em;
  opacity: .9;
  max-width: 100%;
}

input.inline {
  display: inline-block;
  width: auto;
  padding: 0;
  border-bottom: thin dotted #ccc;
  border-radius: 0;
  max-width: 22em;
  width: 6em;
  min-width: 6em;
}

[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
  -webkit-filter: saturate(.333);
}

.monospace {
  font-family: monospace;
}

input:hover, button:hover, .button:hover, textarea:hover, select:hover,
input:focus, button:focus, .button:focus, textarea:focus, select:focus {
  outline: 0;
  opacity: 1;
}

label {
  display: block;
  font-size: 75%;
  text-transform: uppercase;
  margin: 0 0 .25em;
}

input, textarea {
  background-color: white;
}

select {
  height: 2em;
}

button, .button {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  background-color: hsl(200, 100%, 50%);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.page {
  page-break-after: always;
}

.page:last-child {
  page-break-after: avoid;
}

@media screen {
  .preview {
    padding-left: 20em;
    background-color: #234;
  }

  .preview .wrapper {
    padding: .5em 1.5em;
    background-color: #eee;
    min-height: 100vh;
  }

  .preview .form {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20em;
    padding: 2em;
    background-color: #234;
    color: white;
    box-sizing: border-box;
  }

  .preview .page {
    background: white;
    padding: 2em;
    margin: 1em auto;
    min-height: 279.4mm;
    width: 215.9mm;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box;
  }

  .preview .page {
    background-image: linear-gradient(0deg, white 279.4mm, #ccc 280mm, white 280mm);
    background-size: auto 280mm;
  }
}

@media print {
  .form {
    display: none;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

