<div class="page contact-details">
  <img ng-cloak class="profile-img" ng-src="{{ resume.picture }}" ng-class="{ 'hidden' : pictureHidden }" ng-if="resume.picture">

  <h1><a href="#" editable-text="resume.name">{{ resume.name || "Full name" }}</a></h1>

  <h2 class="title"><a href="#" editable-text="resume.title">{{ resume.title || "Title / position" }}</a></h2>

  <section class="summary-section" ng-class="{ 'hidden' : summaryHidden }" ng-if="resume.summary.length">
    <button class="toggle-section" ng-click="toggle('summaryHidden')">{{ booleanLabel('summaryHidden') }}</button>

    <h3 class="summary" editable-textarea="resume.summary"> {{ resume.summary }}</h3>
  </section>

  <h3 class="contact"><a ng-href="mailto:{{resume.email}}" editable-text="resume.email">{{ resume.email || "name@example.com" }}</a></h3>

  <h3 class="contact"><a ng-href="tel:{{resume.phone}}" editable-text="resume.phone">{{ resume.phone || "+1 123 456-7890" }}</a></h3>

  <h3 class="contact"><a ng-href="http://maps.google.com/?q={{resume.address}}" editable-text="resume.address">{{ resume.address || "123 Example St Toronto" }}</a></h3>

  <table class="contact-links">
    <tr ng-repeat="website in resume.websites">
      <th editable-text="website.name">{{ website.name || "Website Name" }}</th>
      <td>
        <a ng-href="{{website.link}}" editable-text="website.link">{{ website.link || "example.com" | hideProtocol }}</a>
      </td>
      <td class="hidden"><button class="remove-button" ng-click="removeFromWebsites(link)">Remove</button></td>
    </tr>
  </table>

  <button class="add-button" ng-click="addToWebsites()">Add Link</button>
</div>

<div class="page work-history" ng-class="{ 'hidden' : workHidden }">
  <section ng-class="{ 'hidden' : workHidden }">
    <button class="toggle-section" ng-click="toggle('workHidden')">{{ booleanLabel('workHidden') }}</button>

    <h2 editable-text="workTitle"> {{ workTitle || 'Work' }}</h2>

    <ol>
      <li ng-repeat="job in resume.work">
        <button class="remove-button" ng-click="removeFromWork(job)">Remove</button>

        <h4>
          <span editable-text="job.title">{{ job.title || 'Position title' }}</span>
          <em>
            <span editable-text="job.start_date">{{ job.start_date || 'Start date' | date : 'MMM y' }}</span>
            -
            <span ng-if="!job.is_current" editable-text="job.end_date">{{ job.end_date || 'End date' | date : 'MMM y' }}</span>
          </em>
        </h4>

        <h5 editable-text="job.company">{{ job.company || 'Company' }}</h5>

        <div class="description">
          <small ng-if="job.description_html" editable-textarea="job.description_html" ng-bind-html="job.description_html"></small>
          <small ng-if="!job.description_html" editable-textarea="job.description">{{ job.description || "Job description" }}</small>
        </div>
      </li>
    </ol>

    <button class="add-button" ng-click="addToWork()">Add position</button>
  </section>

</div>

<div class="page other-history" ng-class="{ 'hidden' : educationHidden && volunteeringHidden && skillsHidden }">
  <section ng-class="{ 'hidden' : educationHidden }" ng-if="resume.education.length">
    <button class="toggle-section" ng-click="toggle('educationHidden')"> {{ booleanLabel('educationHidden') }}</button>

    <h2 editable-text="educationTitle"> {{ educationTitle || 'Education' }}</h2>

    <ol>
      <li ng-repeat="item in resume.education">
        <button class="remove-button" ng-click="removeFromEducation(item)">Remove</button>
        <h4>
          <span editable-text="item.degree">{{ item.degree || "Degree" }}</span>
          <em editable-text="item.period">{{ item.period || "Period" }}</em>
        </h4>

        <h5 editable-text="item.name">{{ item.name || "Institution name" }}</h5>

        <div class="description">
          <small editable-textarea="item.description">{{ item.description || "Description" }}</small>
        </div>
      </li>
    </ol>

    <button class="add-button" ng-click="addToEducation()">Add item</button>
  </section>


  <section ng-class="{ 'hidden' : volunteeringHidden }" ng-if="resume.volunteering.length">
    <button class="toggle-section" ng-click="toggle('volunteeringHidden')">{{ booleanLabel('volunteeringHidden') }}</button>

    <h2 editable-text="volunteeringTitle"> {{ volunteeringTitle || 'Volunteering' }}</h2>

    <ol>
      <li ng-repeat="item in resume.volunteering">
        <button class="remove-button" ng-click="removeFromVolunteering(item)">Remove</button>
        <h4>
          <span editable-text="item.title">{{ item.title || "Title" }}</span>
          <em editable-text="item.period">{{ item.period || "Period" }}</em>
        </h4>

        <h5 editable-text="item.name">{{ item.name || "Organization name" }}</h5>

        <div class="description">
          <small editable-textarea="item.description">{{ item.description || "Description" }}</small>
        </div>
      </li>
    </ol>

    <button class="add-button" ng-click="addToVolunteering()">Add position</button>
  </section>


  <section ng-class="{ 'hidden' : skillsHidden }" ng-if="resume.skills.length">
    <button class="toggle-section" ng-click="toggle('skillsHidden')">{{ booleanLabel('skillsHidden') }}</button>

    <h2 editable-text="skillsTitle"> {{ skillsTitle || 'Skills' }}</h2>

    <figure class="skills">
      <label ng-repeat="skill in resume.skills track by $index" editable-text="skill">
        <button class="remove-button" ng-click="removeFromSkills(skill)">Remove</button>
        {{ skill }}
      </label>
    </figure>

    <button class="add-button" ng-click="addToSkills()">Add skill</button>
  </section>


  <section ng-class="{ 'hidden' : interestsHidden }" ng-if="resume.interests.length">
    <button class="toggle-section" ng-click="toggle('interestsHidden')">{{ booleanLabel('interestsHidden') }}</button>

    <h2 editable-text="interestsTitle"> {{ interestsTitle || 'interests' }}</h2>

    <figure class="skills">
      <label ng-repeat="interest in resume.interests track by $index" editable-text="interest">
        <button class="remove-button" ng-click="removeFromInterests(interest)">Remove</button>
        {{ interest }}
      </label>
    </figure>

    <button class="add-button" ng-click="addToInterests()">Add interest</button>
  </section>


  <section ng-class="{ 'hidden' : languagesHidden }" ng-if="resume.languages.length">
    <button class="toggle-section" ng-click="toggle('languagesHidden')">{{ booleanLabel('languagesHidden') }}</button>

    <h2 editable-text="languagesTitle"> {{ languagesTitle || 'Languages' }}</h2>

    <ol class="inline">
      <li ng-repeat="item in resume.languages">
        <button class="remove-button" ng-click="removeFromLanguages(item)">Remove</button>

        <h4>
          <span editable-text="item.language">{{ item.language || 'Language' }}</span>
        </h4>

        <h5 editable-text="item.proficiency">{{ item.proficiency || 'Proficiency' }}</h5>
      </li>
    </ol>

    <button class="add-button" ng-click="addToLanguages()">Add language</button>
  </section>


  <section ng-class="{ 'hidden' : publicationsHidden }" ng-if="resume.publications.length">
    <button class="toggle-section" ng-click="toggle('publicationsHidden')">{{ booleanLabel('publicationsHidden') }}</button>

    <h2 editable-text="publicationsTitle"> {{ publicationsTitle || 'Publications' }}</h2>

    <ol>
      <li ng-repeat="publication in resume.publications">
        <button class="remove-button" ng-click="removeFromPublications(publication)">Remove</button>

        <h4>
          <span editable-text="publication.title">{{ publication.title || "Title" }}</span>
          <em editable-text="publication.date">{{ publication.date || "Date" }}</em>
        </h4>

        <h5 editable-text="publication.publisher">{{ publication.publisher || "Publisher" }}</h5>

        <div class="description">
          <small ng-if="publication.description_html" editable-textarea="publication.description_html" ng-bind-html="publication.description_html"></small>
          <small ng-if="!publication.description_html" editable-textarea="publication.description">{{ publication.description || "Description" }}</small>
        </div>
      </li>
    </ol>

    <button class="add-button" ng-click="addToPublications()">Add publication</button>
  </section>

</div>

<style id="theme-css" type="text/css"> @page { margin: 20mm 0 20mm 0; } </style>

<style type="text/css">
  .page { font-family: {{ bodyFont.name || 'Source Sans Pro' }}; }

  .page h1, .page h2 { font-family: {{ headingFont.name || 'Source Sans Pro' }}; }
</style>
